{{> header }}

<div class="content"  style="height: 100%;">
    <div class="create">


    <form class="form-content col s12" method="POST" action="/create">

            <div class="card ">
                <div class="row">
                    <h1><u> Create Invite</u></h1>
                </div>
                <div class="row">
                <label for="heading">Header:</label>
                    <br>

                <input name="heading" class="box" required>
                </div>
                <div class="row">
                <label for="textarea1">Body:</label>
                    <br>

                <textarea id="textarea1" class="box"  name="content" required></textarea>
                </div>

                <div class="row">
                <label for="footer">Footer:</label>
                    <br>

                    <textarea name="footer" class="box footer" required></textarea>
                </div>
                <div class="row">
                    <label for="eventtime">Time and Date of event: </label>
                    <br>
                    <input type="datetime-local" class="box" value="2023-06-12T19:30" id="eventtime" name="eventtime">
                </div>
                <div class="row">
                    <label for="custom-invite">Invite all: </label>
                    <input onchange="show()" type="checkbox" id="custom-invite" name="custominvite" value="true" checked>
                </div>
<div class="row custom-invite">                    <label for="check">Select users to invite: </label>
<div class="row">
    {{#each names}}
    <input type="checkbox" class='users-invited' name="check" value="{{this.id}}" checked >
    {{this.name}}
        <br>
    {{/each}}
</div>
</div>


                <div class="row">
                <button  type="submit" name="action">POST INVITATION

                </button>
                </div>
            </div>

    </form>
    </div>
</div>




{{> footer-end }}